<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Permisos deben ir FUERA del <application> -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:usesCleartextTraffic="true"
        android:label="ColdWars"
        android:icon="@mipmap/ic_launcher">

        <!-- Aquí siguen tus activities -->
        
    </application>

</manifest>
